---
import MastodonIcon from "../../public/icons/MastodonIcon.astro";
import TwitterIcon from "../../public/icons/TwitterIcon.astro";
import GitHubIcon from "../../public/icons/GitHubIcon.astro";
---

<a href="https://m.webtoo.ls/@astro" target="_blank">
	<span class="sr-only">Follow Astro on Mastodon</span>
	<MastodonIcon />
</a>
<a href="https://twitter.com/astrodotbuild" target="_blank">
	<span class="sr-only">Follow Astro on Twitter</span>
	<TwitterIcon />
</a>
<a href="https://github.com/withastro/astro" target="_blank">
	<span class="sr-only">Go to Astro's GitHub repo</span>
	<GitHubIcon />
</a>
