---
import ProjectCard from '@/features/projects/components/ProjectCard.astro'
import type { ProjectItem } from '@/features/portfolio/content'

interface Props {
  projects: ProjectItem[]
}

const { projects } = Astro.props
---

<div class="grid gap-4">
  {projects.map((project) => <ProjectCard project={project} compact />)}
</div>
